# Byte-compiled / optimized / DLL files
.DS_Store

# Environment files
.env
/env

# R specific files
.Rproj.user/
.Rhistory

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# specific files
transfer_data.ipynb
anonymise.py
participant_study_membership.csv

.github/

# Ignore Python bytecode and cache directories
*.pyc
__pycache__